body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.sheet {
  border-radius: 16px;
  background-color: white;
  width: 350px;
}
.sheet img {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#characters-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 36px;
}
h1 {
  text-align: center;
}
img {
  justify-self: center;
  align-self: center;
}
.sheet p {
  padding-left: 20px;
}
#filters-container {
  display: flex;
  justify-items: center;
  align-items: center;
}
#btn-prev,
#btn-next {
  width: 60px;
  height: 40px;
  background-color: blue;
  color: azure;
}
